{% extends 'baseshtmls/base1.html'%}
{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 1500px;" >
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home'%}"> <p> &#128214; ProvérbiosOnline</p> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>
{% endblock navbar%}

{%block toolbar%}
<nav class="nav">
        <a class="nav-link" href="{% url 'amigos'%}">Amigos</a>
        <a class="nav-link" href="{% url 'emprestimo'%}">Emprestimo</a>
        <a class="nav-link" href="{% url 'familia'%}">Família</a>
        <a class="nav-link" href="{% url 'investimento'%}">Investimentos</a>
        <a class="nav-link" href="{% url 'trabalho'%}">Trabalho</a>
        <a class="nav-link" href="{% url 'justiça'%}">Justiça</a>
        <a class="nav-link" href="{% url 'disciplina'%}">Disciplina</a>
        <a class="nav-link" href="{% url 'vizinho'%}">Vizinho</a>
        <a class="nav-link" href="{% url 'sabio'%}">Sábio</a>
        <a class="nav-link" href="{% url 'sabedoria'%}">Sabedoria</a>
        <a class="nav-link" href="{% url 'preguiça'%}">Preguiça</a>
</nav>
{% endblock toolbar%}

{% block conteudo %}
<hr>

<form action="{% url 'adicionar_conteudo'%}" method="POST">{% csrf_token %}

  <div class="conteiner3">

    <div class="conteiner3">
      Tema: <input type="text" name="tema" style="width: 218px;">
      <br>
      <br>
      Versículo: <input type="text" name="versículo"> 
      <br>
      <br>
      Contexto:
      <br>
      <textarea name="contexto" id="" cols="45" rows="10"></textarea>
      <br>
      <br>
      Aplicação: 
      <br>
      <textarea name="aplicação" id="" cols="45" rows="10"></textarea>
      <br>
      <input class="btn btn-primary" type="submit" value="Enviar" style="width: 350px;">
    </div>
  </div>
</form>

{% endblock conteudo%}