{% extends 'baseshtmls/base1.html'%}
{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 1500px;" >
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home'%}"> <p> &#128214; ProvérbiosOnline</p> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>
{% endblock navbar%}

{% block conteudo %}
<hr>
<form action="{% url 'autenticacao'%}" method="POST">{% csrf_token %}
  <div class="conteiner4" >
    <p class="text-primary">Usuário:</p>
    <input type="text" name="usuario">
    <br>
    <br>
    <p class="text-primary">Senha:</p>
    <input type="password" name="senha" >
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="Enviar">
  </div>
</form>

{% endblock conteudo%}

